### AlimConfiance Groupe 4 : Audrey, Jaufret, Babacar

## Random Forest

1. Importation des librairies et du dataset

In [2]:
#Importation des librairies
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from IPython.display import display
from sklearn import preprocessing
from sklearn.model_selection import train_test_split


# Importation du dataset
export_alim_path=r'C:\Users\diaba\Documents\SimplonIAMicrosoft_21-23\AlimConfiance\IASecuAlim\modele\data\clean\AlimConfiance_BDD_Clean.csv'
df=pd.read_csv(export_alim_path, sep=";")

# Affichage des données
df.head()

,id_etablissement,id_activite,id_type_activite,code_postal,agrement,niveau_hygiene
0,0,0,0,92,1,0
1,0,19,0,92,1,0
2,0,31,0,92,1,0
3,1,1,0,69,1,1
4,0,0,0,92,1,1

In [3]:
df_eval=df[['niveau_hygiene']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84257 entries, 0 to 84256
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_etablissement  84257 non-null  int64
 1   id_activite       84257 non-null  int64
 2   id_type_activite  84257 non-null  int64
 3   code_postal       84257 non-null  int64
 4   agrement          84257 non-null  int64
 5   niveau_hygiene    84257 non-null  int64
dtypes: int64(6)
memory usage: 3.9 MB

In [4]:
df.head()

,id_etablissement,id_activite,id_type_activite,code_postal,agrement,niveau_hygiene
0,0,0,0,92,1,0
1,0,19,0,92,1,0
2,0,31,0,92,1,0
3,1,1,0,69,1,1
4,0,0,0,92,1,1

In [5]:
# #visualisation des données
# plt.hist(df_eval, bins=2)
# plt.title('histogramme',fontsize = 20)
# plt.xlabel('évaluation',fontsize = 16)
# plt.ylabel('fréquence', fontsize = 16)
# #ax = plt.axes()
# #ax.xaxis.set_major_locator(MultipleLocator(2))
# df_eval.value_counts(normalize=True)
X = df.drop(df_eval, axis=1)
y = df_eval
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=300,random_state=5,stratify=df_eval)

In [6]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='auto', random_state=0, k_neighbors=7)
X_train_smote, y_train_smote = smote.fit_resample(X_train,y_train)

In [7]:
y_train_smote.shape , y_test.shape

((162144, 1), (300, 1))

In [8]:
y_test.value_counts(normalize=True)

niveau_hygiene
0                 0.483333
1                 0.470000
2                 0.043333
3                 0.003333
dtype: float64

In [9]:
# importer la classe DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
# créer le modèle d'arbre de décision
# min_samples_split permet de bloquer la segmentation en dessous d'un certain nombre d'individus
# min_samples_leaf permet de valider une segmentation si les feuilles générées comportent tous au moins un certain nombre d'obeservations
classifier = RandomForestClassifier(n_estimators=60,random_state=2)
# notre modèle est stocké dans la variable classifier

In [10]:
# entraîner le modèle 
classifier.fit(X_train_smote,y_train_smote)

C:\Users\diaba\AppData\Local\Temp\ipykernel_10268\1967742601.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train_smote,y_train_smote)

RandomForestClassifier(n_estimators=60, random_state=2)

In [11]:
y_pred = classifier.predict(X_test)
y_pred.shape

(300,)

In [12]:
#rapport de prédiction
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.68      0.63      0.65       145
           1       0.71      0.70      0.70       141
           2       0.19      0.31      0.24        13
           3       0.00      0.00      0.00         1

    accuracy                           0.65       300
   macro avg       0.39      0.41      0.40       300
weighted avg       0.67      0.65      0.66       300